<br/>
<br/>
<div class="jumbotron" >
  <div class="container">
    <app-header-title> </app-header-title>
    <div class="row">
      <div class="col-xl-4">

          <table class="table">
            <thead class="thead-dark">
              <th  >
                Production Services
              </th>
            </thead>
            <tbody>
              <tr class="table-light">

                <td>
                  <div class="checkbox">
                    <label><input type="checkbox" value="">&nbsp;Free Broadcast - $0.00</label>
                  </div>
                  <div class="checkbox">
                    <label><input type="checkbox" value="">&nbsp;Auto Highlights - $3.00</label>
                  </div>
                  <div class="checkbox">
                    <label><input type="checkbox" value="">&nbsp;Local Recording - $3.00</label>
                  </div>
                  <div class="checkbox">
                    <label><input type="checkbox" value="">&nbsp;Extended Boxscore - $35.00</label>
                  </div>
                </td>

              </tr>

              <tr><td>&nbsp;</td></tr>

              <tr >

                <td><button type="button" class="btn btn-default btn-block" (click)="checkOut();">Next</button></td>

              </tr>
              <tr >

                <td><button type="button" class="btn btn-default btn-block" (click)="goBack();">Back</button></td>

              </tr>
            </tbody>
          </table>

      </div>
      <div class="col-xl-8">
        <div class="container">
          <div class="row">
            <div class="col-xl-6">
                <h5>Enhanced Box Score</h5>
            </div>
            <div class="col-xl-6">
              <h5>Auto Highlights</h5>
            </div>

          </div>
          <div class="row">
            <div class="col-xl-6">
                <img src="../assets/enhancedbox.png" alt="Enhanced Box Score" class="img-thumbnail">
            </div>
            <div class="col-xl-6">
              <img src="../assets/autohighlight.png" alt="Auto Highlight" class="img-thumbnail">
            </div>

          </div>
          <hr/>
          <div class="row">
            <div class="col-xl-6">
              <h5>Free Professional Broadcast</h5>
            </div>
            <div class="col-xl-6">
              <h5>Team Sites Profile</h5>
            </div>

          </div>

          <div class="row">
            <div class="col-xl-6">
              <img src="../assets/broadcast.png" alt="Free Broadcast" class="img-thumbnail">
            </div>
            <div class="col-xl-6">
              <img src="../assets/teamsites.png" alt="Team Sites" class="img-thumbnail">
            </div>

          </div>


        </div>

      </div>

    </div>

  </div>
</div>
